<div class="grid">
    <section class='static'>
        <h1>About Homebase</h1>
        <p>The original concept for homebase was to provide a central "control room" for a distributed team (such as Catalyze). When the Design and Marketing teams met up in Portland this fall they utilized Homebase as an events app. This application provided a consistent schedule, links to appropriate docs, and important information like addresses for meetings.</p>
        <p>Now we want to test Homebase with the entire Catalyze team. During all hands week Catalyze employees can take advantage of the following features:</p>
        <ul>
            <li><strong>Scheduling:</strong> The core feature of Homebase is the events schedule. Upon login all users are taken to the that days events.</li>
            <li><strong>Photos:</strong> Gather and collect photos using the link in the header. All Catalyze employees have access to upload photos to Google drive. Following all hands week we'll brainstorm creative ways to use our photos.</li>
            <li><strong>Food Options:</strong> View lunch and dinner food options within scheduled events.</li>
            <li><strong>Documentation:</strong> As the week progresses be on the lookout for imporant information pertaining to each meeting (documents, surveys, etc.).</li>
        </ul>
        <p>We're excited to give Homebase a true test and we hope you'll enjoy using it. If you have any question or concerns please email <a href="mailto:ryan@catalyze.io">Ryan</a>.</p>
    </section>
</div>
