<div class="grid">
    <section class='static c'>
        <h1>Contact List</h1>
        <p>The following individuals were kind enough to volunteer their contact information.</p>
        <ul>
            <li><strong>Heath Skarlupka:</strong> <a href="tel:6087707121">608-770-7121</a></li>
            <li><strong>Vikki Caruso:</strong> <a href="tel:8153419223">815-341-9223</a></li>
            <li><strong>Emily Trask:</strong> <a href="tel:3038757684">303-875-7684</a></li>
            <li><strong>Rochelle Kokomoor:</strong> <a href="tel:6083818992">608-381-8992</a></li>
        </ul>
    </section>
</div>
