<div class="grid">
    <section class='static'>
        <h1>Help</h1>
        <div class="faq">
            <p><strong>What is Homebase?</strong> Homebase is your single source of truth for all-hands events and events information.</p>
        </div>
        <div class="faq">
            <p><strong>How do I use Homebase?</strong></p>

        </div>
        <div class="faq">
            <p><strong>Do I have my own account?</strong> No. Right now all users are given a single login. In the future, we'll expand the use case of Homebase with individual account management. For now you can login using the account information provided via email.</p>
        </div>
        <div class="faq">
            <p><strong>How do I submit photos?</strong> Photos are submited via Google drive. Click the "photos" link above to access the folder. Feel free to share all of your photos from the week!</p>
        </div>
        <div class="faq">
            <p><strong>What is the contact list?</strong> The contact list is for out-of-towners and in-towners alike. These individuals have volunteered their information to be shared with the team. Feel free to reach out to them for any information pertaining to all-hands week.</p>
        </div>
    </section>
</div>
