<div class="grid">
    <div class="welcome">Welcome to Homebase! If you've received an invitation please sign in above. If you've not yet received an invitation, or it has expired please contact Ryan <a href="mailto:ryan@catalyze.io">ryan@catalyze.io</a></div>
</div>
