<div class="grid">
    <section class='static c'>
        <h1>All Hands Info</h1>
        <p>We are very excited to get the team together and we have planned for a very productive week. Below are a few details that will assist in making this meeting a success.</p>
        <p><strong>Traveling Employees:</strong></p>
        <ul>
            <li>You will be staying at the Hyatt Place/Downtown Madison, located at 333 W. Washington Ave. Madison, WI.</li>
            <li>Upon arrival you will give them your first and last name and tell them you are with Catalyze.</li>
            <li>Room and incidentals have been paid for by Catalyze. Please reference Travel and Expense Policy if you have any questions.</li>
            <li>The hotel offers complimentary breakfast each morning, there will also be bagels in the office as well.</li>
            <li>If for ANY reason you are NOT able to make your check in date you MUST contact the hotel at 608-257-2700 or they will cancel your reservation.</li>
            <li>When you arrive in the office, there will be work area prepared for you. </li>
        </ul>
        <p><strong>All Employees: General Housekeeping</strong></p>
        <ul>
            <li>Bringing everyone together for three days is an opportunity for us to spend time with our each other and get to know one another better.</li>
            <li>Please use this opportunity in meetings, free time, activities and gathers to mingle with others. </li>
            <li>Please, be mindful of the schedule. We have included free time throughout the day to allow individuals to have 1:1 meetings, team meetings, get work done or just mingle with each other. </li>
            <li>Be on time! Please make sure you are on time to all meetings. </li>
            <li>When we are in meetings, please leave laptops and phones behind. Notebooks and pens will be provided. </li>
            <li>Please pick up after yourself. We will be having many meals catered in to the office and sometimes things can get messy. Let’s all pitch in and do our share to keep our work area clean. </li>
            <li>We will have a few dinners and activities; this is, again, a unique time for us to get to know one another. Your attendance is required. </li>
        </ul>
        <p><strong>Looking forward to a great week!</strong></p>
    </section>
</div>
