<div class="h">
    <div class="grid grid-no-pad">
        <div class="col-1-1 i">
            <section class="static-full">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Engagement Rating</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John Doe</td>
                      <td>21</td>
                      <td>&#9733;&#9733;&#9733;</td>
                      <td><a href="#">View Patient</a></td>
                    </tr>
                  </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
