<div class="grid">
    <div class="tab-nav">
        <div class="tab active">Monday 10-10</div>
        <div class="tab">Tuesday 10-11</div>
        <div class="tab">Wednesday 10-12</div>
        <div class="tab">Thursday 10-13</div>
    </div>
    <section class="day">
        <h1>😊 Monday October 10th</h1>
        <div class="pad">
            <div class="announcement">Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
            <article class="events">
                <%= render 'layouts/events/day_one' %>
            </article>
        </div>
    </section>
</div>
