<div class="grid">
    <div class="tab-nav">
        <div class="tab active">Monday 10-10</div>
    </div>
    <section class="day">
        <h1>😊 Monday October 10th</h1>
        <div class="pad">
            <article class="events">
                <%= render 'partials/events/day_one' %>
            </article>
        </div>
    </section>
</div>
