<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-four">
            <div class="info">9:00AM - 10:00AM - <em>Deep Dive: Organization Structure</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Travis</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Travis will present an overview of the new organizational structure, discuss roles and future hires.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">10:00AM- 11:00AM - <em>Open Free Time</em></div>
            <div class="place">Conference Room: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Leverage this time for 1:1 meetings or schedule meetings with you teams or catch up on work. </p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-five">
            <div class="info">11:00AM - 12:00PM - <em>Deep Dive: Product</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Raj</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Raj will present an overview of product updates and future products/services.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left f-two">
            <div class="info">12:00PM - 1:00PM - <em>Lunch</em></div>
            <div class="place">Conference Room: Kitchen - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Lunch will be provided by <a target="_blank" href="#">Tex Tubbs</a>.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">1:00PM - 1:30PM - <em>Peer Education: Mindfulness and Stress Management</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Patrick</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>Stress is sexy. StressED is not. A tactical exploration in mindfulness-based stress management.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">1:30PM - 2:00PM - <em>Peer Education: External Communication</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Marcia</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>Learning how to effectively communicate externally to clients, peers, and others.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour focus-group">
    <div class="col-7-12">
        <section class="left focus-group">
            <div class="info">2:00PM- 3:00PM - <em>Focus Group: Developing Catalyze Elevator Pitch</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Kevin</div>
            <div class="option"><i class="fa fa-question-circle"></i> This is a focus group. Please attend your assigned event.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This group will work together and strategize on developing a solid elevator pitch for all Catalyze Employees to share about Catalyze.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour focus-group">
    <div class="col-7-12">
        <section class="left focus-group">
            <div class="info">2:00PM- 3:00PM - <em>Focus Group: Improving the New Hire On-boarding Process</em></div>
            <div class="place">Conference Room: Main Office (Kitchen) - Presenter: Vikki</div>
            <div class="option"><i class="fa fa-question-circle"></i> This is a focus group. Please attend your assigned event.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This group will work together to identify opportunities with our current New Hire On-boarding Process and develop solutions to improve.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour focus-group">
    <div class="col-7-12">
        <section class="left">
            <div class="info">2:00PM- 3:00PM - <em>Focus Group: Team Building Activities for the Catalyze Team</em></div>
            <div class="place">Conference Room: Main Office (Windows) - Presenter: Emily</div>
            <div class="option"><i class="fa fa-question-circle"></i> This is a focus group. Please attend your assigned event.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This group will strategize and come up with various team building activities that we can do to engage all employees through the year.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-six">
            <div class="info">3:00PM - 4:00PM - <em>2017 Conference Strategy</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Kirs &amp; Marcia</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Kris and Marcia will be presenting the Strategy behind the conferences we will be attending and how they will benefit Catalyze.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">4:00PM - 4:30PM - <em>Open Product Q &amp; A</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Raj</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>An opportunity to ask additional questions about the prior product presentation.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">4:30PM - 5:00PM - <em>Team Building</em></div>
            <div class="place">Conference Room: Office - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>This is a fun team exercise activity.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left evening-one late">
            <div class="info">5:00PM- 8:00PM - <em>Team Gathering</em></div>
            <div class="place">Conference Room: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 3 Hours</div>
            <div class="sum">
                <p>We'll be meeting at <a target="_blank" href="https://www.barriquesmarket.com/">Barriques</a>!</p>
            </div>
            <a class="maps" href="https://www.google.com/maps/dir/316+W+Washington+Ave,+Madison,+WI/Barriques+-+West+Wash,+127+W+Washington+Ave,+Madison,+WI+53702/@43.0728646,-89.3892302,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88065339c6b96229:0x5661b5704d6c1d20!2m2!1d-89.388113!2d43.07284!1m5!1m1!1s0x880653391c47b2f7:0x23692d49dfa1dcb0!2m2!1d-89.38597!2d43.073221!3e2" target="_blank">
                <div class="icon"></div>
                <span>Directions</span>
            </a>
        </section>
    </div>
</div>
