<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">9:00AM- 10:00AM - <em>Open Free Time</em></div>
            <div class="place">Location: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Leverage this time for 1:1 meetings or schedule meetings with you teams or catch up on work.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-nine">
            <div class="info">10:00AM - 11:00PM - <em>Business Development Strategy</em></div>
            <div class="place">Location: Main Conference Room - Presenter: Raj &amp; Casey</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Raj and Casey will discuss our current Business Development Strategy, success stories, potential clients and future target clients.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">12:00PM- 5:00PM - <em>That's a Wrap!</em></div>
            <div class="place">Location: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> N/A</div>
            <div class="sum">
                <p>Thanks for an amazing all hands!</p>
            </div>
        </section>
    </div>
</div>
