<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-one">
            <div class="info">10:00AM - 11:00AM - <em>All Hands Kick Off</em></div>
            <div class="place">Location: Main Conference Room - Presenter: Travis</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Travis will be presenting a kick off meeting.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-two">
            <div class="info">11:00AM - 12:00PM - <em>Improving Communication</em></div>
            <div class="place">Location: Main Conference Room - Presenter: Kris &amp; Team</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>The Communications Committee will be updating Catalyze on their findings, suggestions and outcomes of their meetings.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left f-one">
            <div class="info">12:00PM - 1:00PM - <em>Lunch</em></div>
            <div class="place">Location: Office - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Lunch will be provided by <a target="_blank" href="http://www.banzomadison.com/"> Banzo</a>.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">1:00PM - 1:30PM - <em>Harassment Training</em></div>
            <div class="place">Location: Main Conference Room - Presenter: Vikki</div>
            <div class="option"><i class="fa fa-question-circle"></i> Please choose between this session and the one tomorrow.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>This will be one of two sessions you can attend on Harassment in the Workplace. For compliance, this is a mandatory session.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">1:30PM - 2:00PM - <em>Server Integration Testing</em></div>
            <div class="place">Location: Main Conference Room - Presenter: Adam Beach &amp; Heath</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>An overview of the Serverspec framework for validating server configuration.  What it is, how it works, why we want to do it.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour focus-group">
    <div class="col-7-12">
        <section class="left focus-group">
            <div class="info">2:00PM - 3:00PM - <em>Focus Group: Developing Catalyze Elevator Pitch</em></div>
            <div class="place">Location: Main Conference Room - Presenter: Kevin</div>
            <div class="option"><i class="fa fa-question-circle"></i> This is a focus group. Please attend your assigned event.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This group will work together and strategize on developing a solid elevator pitch for all Catalyze Employees to share about Catalyze.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour focus-group">
    <div class="col-7-12">
        <section class="left focus-group">
            <div class="info">2:00PM - 3:00PM - <em>Focus Group: Improving the New Hire On-boarding Process</em></div>
            <div class="place">Location: Lower Level Conference Room - Presenter: Vikki</div>
            <div class="option"><i class="fa fa-question-circle"></i> This is a focus group. Please attend your assigned event.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This group will work together to identify opportunities with our current New Hire On-boarding Process and develop solutions to improve.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour focus-group">
    <div class="col-7-12">
        <section class="left">
            <div class="info">2:00PM - 3:00PM - <em>Focus Group: Team Building Activities for the Catalyze Team</em></div>
            <div class="place">Location: Main Office (Windows) - Presenter: Rochelle</div>
            <div class="option"><i class="fa fa-question-circle"></i> This is a focus group. Please attend your assigned event.</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This group will strategize and come up with various team building activities that we can do to engage all employees through the year.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">3:00PM - 4:30PM - <em>Open Free Time</em></div>
            <div class="place">Location: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1.5 Hours</div>
            <div class="sum">
                <p>Leverage this time for 1:1 meetings or schedule meetings with you teams or catch up on work.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left evening">
            <div class="info">4:30PM - 6:00PM - <em>Happy Hour &amp; Mingle</em></div>
            <div class="place">Location: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1.5 Hours</div>
            <div class="sum">
                <p>Happy hour! Food provided by <a target="_blank" href="http://www.goodfoodmadison.com/">Good Eats Catering</a>.</p>
            </div>
        </section>
    </div>
</div>
