<div class="event-one-hour i-one">
    <div class="dot"></div>
    <div class="col-4-12">
        <div class="info">8:00AM - 9:00AM - <em>Kick Off Meeting</em></div>
        <div class="place">Conference Room: TBD - Presenter: TBD</div>
    </div>
    <div class="col-1-12">
        <div class="length">1 Hour</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
<div class="event-one-hour i-two">
    <div class="col-4-12">
        <div class="info">9:00AM - 10:00AM - <em>Deep Dive: Branding</em></div>
        <div class="place">Conference Room: TBD - Presenter: Kris &amp; Travis</div>
    </div>
    <div class="col-1-12">
        <div class="length">1 Hour</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
<div class="event-one-hour open">
    <div class="col-4-12">
        <div class="info">10:00AM - 11:00AM - <em>OPEN</em></div>
        <div class="place">Conference Room: N/A - Presenter: N/A</div>
    </div>
    <div class="col-1-12">
        <div class="length">1 Hour</div>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-4-12">
        <div class="info">11:00AM - 11:30AM - <em>Peer Education Session 1- Harassment Training</em></div>
        <div class="place">Conference Room: TBD - Presenter: TBD</div>
    </div>
    <div class="col-1-12">
        <div class="length">30 Min.</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-4-12">
        <div class="info">11:30AM - 12:00PM - <em>Peer Education: Server Integration Testing</em></div>
        <div class="place">Conference Room: TBD - Presenter: TBD</div>
    </div>
    <div class="col-1-12">
        <div class="length">30 Min.</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
<div class="event-one-hour i-three">
    <div class="col-4-12">
        <div class="info">12:00PM - 1:00PM - <em>Focus Group 3 Improving the On-boarding Process</em></div>
        <div class="place">Conference Room: TBD - Presenter: TBD</div>
    </div>
    <div class="col-1-12">
        <div class="length">1 Hour</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
<div class="event-one-hour open">
    <div class="col-4-12">
        <div class="info">1:00PM - 2:00PM - <em>OPEN</em></div>
        <div class="place">Conference Room: N/A - Presenter: N/A</div>
    </div>
    <div class="col-1-12">
        <div class="length">1 Hour</div>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-4-12">
        <div class="info">2:00AM - 2:30PM - <em>Open Discussion: Product Follow Up</em></div>
        <div class="place">Conference Room: TBD - Presenter: TBD</div>
    </div>
    <div class="col-1-12">
        <div class="length">30 Min.</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-4-12">
        <div class="info">2:30PM - 4:00PM - <em>Mingle, Happy Hour and Appetizers</em></div>
        <div class="place">Conference Room: TBD - Presenter: TBD</div>
    </div>
    <div class="col-1-12">
        <div class="length">1 Hour</div>
    </div>
    <div class="col-3-12">
        <div class="last">
            <a href="#" class="doc-button">Google Docs Link</a>
        </div>
    </div>
</div>
