<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">9:00AM- 11:00AM - <em>Open Free Time</em></div>
            <div class="place">Conference Room: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 2 Hours</div>
            <div class="sum">
                <p>Leverage this time for 1:1 meetings or schedule meetings with you teams or catch up on work.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-seven">
            <div class="info">11:00AM - 12:00PM - <em>Manager Training</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Vikki</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>This is mandatory training for managers on our new review and hiring process.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left f-three">
            <div class="info">12:00PM- 1:00PM - <em>Lunch</em></div>
            <div class="place">Conference Room: Office - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Lunch will be provided by <a target="_blank" href="https://ianspizza.com/madison/">Ian's Pizza</a>.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">1:00PM - 1:30PM - <em>Harassment Training</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Vikki</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>This will be one of two sessions you can attend on Harassment in the Workplace. For compliance, this is a mandatory session.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">1:30PM - 2:00PM - <em>Design: Managing Content</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Allan, Anthony &amp; Ryan</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>The design team will discuss how we can manage content company wide. From documentation, to marketing materials.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left i-eight">
            <div class="info">2:00PM - 3:00PM - <em>Focus Group Presentations</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Focus Groups</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 1 Hour</div>
            <div class="sum">
                <p>Focus Group Teams will present their suggested changes to the group.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">3:00PM- 4:00PM - <em>Open Free Time</em></div>
            <div class="place">Conference Room: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 2 Hours</div>
            <div class="sum">
                <p>Leverage this time for 1:1 meetings or schedule meetings with you teams or catch up on work.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-half-hour">
    <div class="col-7-12">
        <section class="left">
            <div class="info">4:00PM - 4:30PM - <em>Open Product Q &amp; A</em></div>
            <div class="place">Conference Room: Main Conference Room - Presenter: Raj</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 30 Minute Session</div>
            <div class="sum">
                <p>An opportunity to ask additional questions about the prior product presentation.</p>
            </div>
        </section>
    </div>
</div>
<div class="event-one-hour">
    <div class="col-7-12">
        <section class="left evening-two late">
            <div class="info">5:30PM - 9:00PM - <em>Team Dinner</em></div>
            <div class="place">Conference Room: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> 3.5 Hours</div>
            <div class="sum">
                <p>We'll be meeting at <a target="_blank" href="http://www.centomadison.com/">Cento</a>!</p>
            </div>
            <a class="maps" href="https://www.google.com/maps/dir/Catalyze,+Inc.,+West+Washington+Avenue,+Madison,+WI/Cento,+122+W+Mifflin+St,+Madison,+WI+53703/@43.0733548,-89.389431,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x88065339c6b96229:0x1d7b95fd5ede2168!2m2!1d-89.388113!2d43.07284!1m5!1m1!1s0x880653384567cd45:0xc5e581bf294f89f1!2m2!1d-89.3873122!2d43.0743106" target="_blank">
                <div class="icon"></div>
                <span>Directions</span>
            </a>
        </section>
    </div>
</div>
