<div class="event-one-hour open">
    <div class="col-7-12">
        <section class="left">
            <div class="info">TBD</div>
            <div class="place">Conference Room: N/A - Presenter: N/A</div>
        </section>
    </div>
    <div class="col-5-12">
        <section class="right">
            <div class="length"><i class="fa fa-clock-o"></i> &nbsp;</div>
            <div class="sum">
                <p>&nbsp;</p>
            </div>
        </section>
    </div>
</div>
