<header class="main-header">
    <div class="grid">
        <a href="/" class="logo"></a>
        <nav>
            <% if user_signed_in? %>
                <!-- Fill in with photos link -->
                <%= link_to "Photos! 🌅", "//drive.google.com/drive/folders/0B7Op43JOeN-5S3FFa1BjRUlRUXM" %>
                <!-- Fill in with directory path -->
                <%= link_to "Contact List", "#" %>
                <%= link_to "Log out", logout_path, class: "action" %>
            <% else %>
                <%= link_to "Sign in", sign_in_path, class: "action" %>
            <% end %>
        </nav>
    </div>
</header>
