<title>Catalyze | Homebase</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', '//use.fontawesome.com/d02fbc000f.js', 'data-turbolinks-track': 'reload' %>
