.day{
    background-color: $c_white;
    @include border-radius(5px);
    @include box-shadow(0px 2px 4px 0px $c_blue-gray-shadow);
    @extend .cf;
    h1{
        font-size: 14px;
        font-weight: 700;
        color: $c_black;
        border-bottom: 1px solid $c_border;
        padding: 10px;
    }
    .pad{padding: 10px;}
    .announcement{
        background-color: $c_green;
        border: 1px solid $c_mid-green;
        color: $c_dark-green;
        padding: 10px;
        max-width: 550px;
        line-height: 1.2;
        margin: 0px 0px 10px 0px;
        @include border-radius(5px);
    }
    .events{
        padding: 10px;
        border: 1px solid $c_border;
        font-size: 12px;
        @include border-radius(5px);
        @extend .cf;
        .event-one-hour{
            position: relative;
            @extend .cf;
            background-image: linear-gradient(-180deg, #FCFDFF 2%, #F1F5FF 100%);
            border: 1px solid #D0DBF7;
            margin: 0px 0px 10px 0px;
            @include box-shadow(inset 0px -1px 0px 0px darken(#D0DBF7,5%));
            @include border-radius(5px);
            &:last-of-type{margin: 0px;}
            .info{padding: 30px 0px 0px 10px;font-weight: 700;}
            .place{padding: 5px 0px 0px 10px;}
            .length{
                border-left: 1px solid #D0DBF7;
                color: #96ABE1;
                padding: 40px 0px 40px 35px;
            }
            a.doc-button{
                display: block;
                text-decoration: none;
                background-image: linear-gradient(-180deg, #FFF8B9 0%, #FFE53E 100%);
                border: 1px solid #BFAF53;
                text-align: center;
                color: #88802C;
                padding: 5px 10px;
                @include box-shadow(inset 0px -1px 1px 0px rgba(141,127,39,0.50));
                @include border-radius(5px);
            }
            .last{
                border-left: 1px solid #D0DBF7;
                padding: 34px 0px 35px 35px;
            }
            .dot{
                height: 10px;
                width: 10px;
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: $c_mid-green;
                -webkit-animation: dotglow 2s infinite;
                -moz-animation: dotglow 2s infinite;
                -o-animation: dotglow 2s infinite;
                animation: dotglow 2s infinite;
                @include border-radius(5px);
            }
        }
        .open{background-image: linear-gradient(-180deg, transparent 2%, transparent 100%);}
        .event-half-hour{
            @extend .event-one-hour;
            .info{padding: 15px 0px 0px 10px;}
            .length{padding: 20px 0px 20px 35px;}
            .last{
                border-left: 1px solid #D0DBF7;
                padding: 14px 0px 15px 35px;
            }
        }
    }
}
@-webkit-keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
@-moz-keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
@-o-keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
@keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
