.day{
    background-color: $c_white;
    margin: 0px 0px 30px 0px;
    @include border-radius(5px);
    @include box-shadow(0px 2px 4px 0px $c_blue-gray-shadow);
    @extend .cf;
    [class*='col-']{padding: 0px;}
    h1{
        font-size: 14px;
        font-weight: 700;
        color: $c_black;
        border-bottom: 1px solid $c_border;
        padding: 10px;
    }
    .pad{padding: 10px;}
    .events{
        font-size: 12px;
        @extend .cf;
        .event-one-hour{
            position: relative;
            @extend .cf;
            background-image: linear-gradient(-180deg, #FCFDFF 2%, #F1F5FF 100%);
            border: 1px solid $c_border-alt;
            margin: 0px 0px 10px 0px;
            @include box-shadow(inset 0px -1px 0px 0px darken($c_border-alt,5%));
            @include border-radius(5px);
            &:last-of-type{margin: 0px;}
            .info{font-weight: 700;}
            a.doc-button{
                display: inline-block;
                text-decoration: none;
                background-image: linear-gradient(-180deg, #FFF8B9 0%, #FFE53E 100%);
                border: 1px solid #BFAF53;
                text-align: center;
                color: #88802C;
                padding: 5px 5px;
                margin: 10px 10px 0px 0px;
                @include box-shadow(inset 0px -1px 1px 0px rgba(141,127,39,0.50));
                @include border-radius(5px);
                &:last-of-type{margin: 10px 0px 0px 0px;}
            }
            a.maps-button{@extend .doc-button;}
            .dot{
                height: 10px;
                width: 10px;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 999;
                background-color: $c_mid-green;
                -webkit-animation: dotglow 2s infinite;
                -moz-animation: dotglow 2s infinite;
                -o-animation: dotglow 2s infinite;
                animation: dotglow 2s infinite;
                @include border-radius(5px);
            }
            .left{
                padding: 10px;
                border-right: 1px solid $c_black;
                min-height: 100px;
                @include border-radius-left(5px);
                .info{margin: 0px 0px 10px 0px;}
                .place{
                    padding: 5px;
                    background-color: rgba(255,255,255,0.5);
                    border: 1px solid $c_black;
                    color: $c_black;
                    display: inline-block;
                    @include border-radius(5px);
                }
            }
            .late{min-height: 150px;}
            .right{
                @include border-radius-top-right(4px);
                padding: 10px;
                .sum{
                    margin: 10px 0px 0px 0px;
                    max-width: 350px;
                    line-height: 1.5;
                    a{text-decoration: none;color: $c_brand;}
                }
                .maps{
                    display: block;
                    margin: 10px 0px 0px 0px;
                    padding: 10px;
                    border: 1px solid $c_border-alt;
                    @include border-radius(5px);
                    @extend .cf;
                    .icon{
                        float: left;
                        background-image: image-url("map.png");
                        width: 30px;
                        height: 30px;
                        background-size: 30px 30px;
                        border: 1px solid #a5b5df;
                        @include box-shadow(0px 2px 4px 0px #b6c5ce);
                        @include border-radius(30px);
                    }
                    span{
                        display: block;
                        float: left;
                        text-decoration: none;
                        color: $c_brand;
                        font-weight: 700;
                        margin: 10px;
                    }
                }
            }
        }
        .open{
            background-image: linear-gradient(-180deg, transparent 2%, transparent 100%);
            .left{border-right: 1px solid $c_border-alt;}
        }
        .event-half-hour{
            @extend .event-one-hour;
            .left{border-right: 1px solid $c_border-alt;min-height: 75px;}
        }
        // Background images
        .i-one{
            background-image: image-url("one.jpg");
            background-position: 50% 50%;
            background-size: cover;
            border: 1px solid #344e90;
            color: $c_white;
            .length{color: $c_black;}
            a.doc-button{
                background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F4 100%);
                border: 1px solid #344e90;
                color: $c_black;
                @include box-shadow(inset 0px -1px 1px 0px rgba(0,0,0,0.1));
            }
            a.maps-button{@extend .doc-button;}
            @include box-shadow(inset 0px -1px 0px 0px darken(#344e90,5%));
        }
        .i-two{
            @extend .i-one;
            background-image: image-url("two.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .i-three{
            @extend .i-one;
            background-image: image-url("three.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .i-four{
            @extend .i-one;
            background-image: image-url("four.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .i-five{
            @extend .i-one;
            background-image: image-url("five.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .i-six{
            @extend .i-one;
            background-image: image-url("six.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .i-seven{
            @extend .i-one;
            background-image: image-url("seven.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .i-eight{
            border: 1px solid #344e90;
            color: $c_white;
            .length{color: $c_black;}
            a.doc-button{
                background-image: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F4 100%);
                border: 1px solid #344e90;
                color: $c_black;
                @include box-shadow(inset 0px -1px 1px 0px rgba(0,0,0,0.1));
            }
            a.maps-button{@extend .doc-button;}
            @include box-shadow(inset 0px -1px 0px 0px darken(#344e90,5%));
            background-image: image-url("eight.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        // Food images
        .f-one{
            @extend .i-one;
            background-image: image-url("f-one.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .f-two{
            @extend .i-one;
            background-image: image-url("f-two.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .f-three{
            @extend .i-one;
            background-image: image-url("f-three.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        // Focus Group
        .focus-group{
            .left{
                border-right: 1px solid $c_border-alt;
                background-color: #f4f4f4;
                @include box-shadow(inset 0px -1px 0px 0px darken($c_border-alt,5%));
                .option{
                    color: #4A90E2;
                    display: block;
                    margin: 10px 0px 0px 0px;
                }
            }
        }
        // Evening images
        .evening{
            @extend .i-one;
            background-image: image-url("e-one.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
        .evening-one{
            @extend .i-one;
            background-image: image-url("e-two.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
    }
}
@-webkit-keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
@-moz-keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
@-o-keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
@keyframes dotglow{
    0%   {background-color: transparent;}
    100% {background-color: #65E94A;}
}
