.static{
    margin: 30px auto;
    max-width: 550px;
    padding: 10px;
    background-color: $c_white;
    @include border-radius(5px);
    @include box-shadow(0px 2px 4px 0px $c_blue-gray-shadow);
    @extend .cf;
    img{margin: 10px 0px 0px 0px; max-width: 100%;width: 100%;}
    .date{
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        margin: 0px 0px 10px 0px;
        color: $c_gray
    }
    a{text-decoration: none;color: $c_brand;}
    h1{
        font-size: 30px;
        text-align: center;
        margin: 0px 0px 10px 0px;
        font-weight: 300;
    }
    strong{font-weight: 700; color: $c_black;}
    p{
        color: $c_gray;
        line-height: 1.5;
        margin: 0px 0px 20px 0px;
        &:last-of-type{margin: 0px;}
    }
    .faq{
        margin: 10px 0px 0px 0px;
        border: 1px solid $c_border;
        padding: 10px;
        strong{font-weight: 700; color: $c_black;}
        @include border-radius(5px);
    }
    ul{
        list-style: circle;
        padding: 0px 0px 0px 20px;
        li{
            color: $c_gray;
            margin: 0px 0px 10px 0px;
            line-height: 1.5;
        }
    }
}
.c{ul{margin: 20px 0px 0px 0px;}}
.static-full{
    @extend .static;
    max-width: 100%;
    width: auto;
}
.preso-links{
    nav{
        a{
            display: block;
            padding: 0px 0px 10px 0px;
            border-bottom: 1px solid $c_border-alt;
            margin: 10px 0px 0px 0px;
            color: $c_brand;
            text-decoration: none;
            @include easing(350ms);
            &:hover{
                @include easing(350ms);
                color: $c_black;
                padding: 0px 0px 10px 5px;
            }
            &:last-of-type{
                padding: 0px; border: 0px;
                &:hover{padding: 0px 0px 0px 5px;}
            }
        }
    }
}
