$c_light-gray: #F4F4F4;
$c_border: #DDDDDD;
$c_black: #010101;
$c_green: #E2FFEF;
$c_mid-green: #96C3AA;
$c_dark-green: #325944;
$c_blue: #E2EEFF;
$c_mid-blue: #96A9C3;
$c_dark-blue: #323F59;
$c_brand: #1055FF;
$c_blue-gray: #b3c8d6;
$c_white: #FFFFFF;
