$c_blue-gray-bg: #EFF2F4;
$c_light-gray: $c_blue-gray-bg;
$c_border: #DDDDDD;
$c_border-alt: #D0DBF7;
$c_black: #010101;
$c_gray: #888;
$c_green: #E2FFEF;
$c_mid-green: #96C3AA;
$c_dark-green: #325944;
$c_blue: #E2EEFF;
$c_mid-blue: #96A9C3;
$c_dark-blue: #323F59;
$c_brand: #1055FF;
$c_blue-gray: #b3c8d6;
$c_white: #FFFFFF;
$c_danger: #EA1B35;
$c_blue-gray-shadow: darken(#D4E0E8, 10%);
$c_black-blue: #1E2127;
body{background-color: $c_blue-gray-bg;}
