@media all and (max-width: 1320px){
    .tab-nav{margin: 30px 30px 30px 30px;}
    .h{
        margin: 0px 30px;
    }
}
@media all and (max-width: 999px){
    .tab-nav{
        .tab{
            display: block;
            width: auto;
            padding: 10px 20px;
            max-width: 350px;
            margin: 0px auto 10px auto;
            &:last-of-type{margin: 0px auto 0px auto;}
        }
    }
}
@media all and (max-width: 851px){
    .grid{
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    [class*='col-']{
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
    .grid-no-pad{
        .i{
            .static{margin: 0px 0px 20px 0px;}
            .static-full{margin: 0px 0px 20px 0px;}
            .day{margin: 0px 0px 20px 0px;}
        }
        .ii{
            .static{margin: 0px 0px 20px 0px;}
            .static-full{margin: 0px 0px 0px 0px;}
            .day{margin: 0px 0px 20px 0px;}
        }
    }
    .day{
        .events{
            .event-half-hour,
            .event-one-hour{
                .dot{top: 20px;right: 20px;}
                .left{border: 1px solid $c_border-alt;margin: 0px 10px;@include border-radius(5px);}
                .right{border: 0px;}
                .focus-group{border: 1px solid $c_border-alt;}
            }
            .open{.left{border: 1px solid $c_border-alt;}}
        }
    }
}
@media all and (max-width: 650px){
    .auth-form,
    .static{margin: 30px 30px 30px 30px;max-width: 100%;}
}
@media all and (max-width: 550px){
    .main-header{
        .header-actions{margin: 7px 28px 0px 0px;}
        .menu{display: block;}
        nav{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: rgba(255,255,255,1);
            padding: 30px;
            z-index: 9998;
            a{
                text-align: center;
                font-size: 22px;
                font-weight: 300;
                display: block;
                padding: 0px;
                margin: 20px 0px 0px 0px;
                &:hover{color: $c_gray;}
                &:first-of-type{margin: 30px 0px 0px 0px;}
            }
        }
        .header-actions{
            float: none;
            margin: 0px;
            display: none;
            position: absolute;
            top: 140px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 0px;
            z-index: 9998;
            a{
                text-decoration: none;
                margin: 0px 0px 20px 0px;
                display: block;
                &:hover{color: $c_gray;}
            }
            a.username,
            a.action{
                font-size: 22px;
                font-weight: 300;
                display: block;
                padding: 0px;
                text-decoration: none;
                border: 0px;
                color: $c_brand;
                background-image: -webkit-linear-gradient(transparent 0%, transparent 100%);
                background-image: -o-linear-gradient(transparent 0%, transparent 100%);
                background-image: linear-gradient(transparent 0%, transparent 100%);
                padding: 0px;
                @include box-shadow-complex(0 0px 0px rgba(0,0,0,0.0),0 0px 0px rgba(0,0,0,0.0));
                @include border-radius(0px);
                &:hover{
                    @include box-shadow-complex(0 0px 0px rgba(0,0,0,0.0),0 0px 0px rgba(0,0,0,0.0));
                    color: $c_gray;
                    border: 0px;
                }
            }
        }
    }
}
